@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Times New Roman;
}
.homePage {
	background: ##F6A0FF;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #35D6A9;
	text-align:center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #FE90A4;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FEA290;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: ##F6A0FF;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
